












Publish your repo on Github
As before, you’ll publish your Git repo on GitHub and “hand in” your assignment by creating a GitHub Issue.

Create a repository on GitHub, connect it to your local repo, and push your local repo to GitHub.

Create a new issue and tag GitHub users menukabh and jelmerp, asking us to take a look at your assignment.